{
  "vsphere": {
    "type": "vsphere",
    "version": "<SERVER VERSION>",
    "fqdn": "SERVER FQDN/IP",
    "api_url": "<SERVER FQDN/IP>/sdk",
    "username": "USERNAME",
    "password": "PASSWORD",
    "guest_vm_linux_user": "LINUX VMS USERNAME",
    "guest_vm_linux_password": "LINUX VMS PASSWORD",
    "guest_vm_win_user": "WINDOWS VMS USERNAME",
    "guest_vm_win_password": "WINDOWS VMS PASSWORD",
    "vddk_init_image": "<PATH TO VDDK INIT IMAGE>"
  },

  "vsphere-copy-offload": {
    "type": "vsphere",
    "version": "<SERVER VERSION>",
    "fqdn": "SERVER FQDN/IP",
    "api_url": "<SERVER FQDN/IP>/sdk",
    "username": "USERNAME",
    "password": "PASSWORD",
    "guest_vm_linux_user": "LINUX VMS USERNAME",
    "guest_vm_linux_password": "LINUX VMS PASSWORD",
    "guest_vm_win_user": "WINDOWS VMS USERNAME",
    "guest_vm_win_password": "WINDOWS VMS PASSWORD",
    "copyoffload": {
      "storage_vendor_product": "ontap",  # or "vantara"
      "datastore_id": "datastore-12345",
      "template_name": "rhel9-template",
      "storage_hostname": "storage.example.com",
      "storage_username": "admin",
      "storage_password": "your-password-here",
      "ontap_svm": "vserver-name",  # optional, required for NetApp ONTAP
      "esxi_clone_method": "ssh", # optional, can be "vib" (default) or "ssh"
      "esxi_host": "your-esxi-host.example.com", # required for ssh method
      "esxi_user": "root", # required for ssh method
      "esxi_password": "your-esxi-password" # required for ssh method
    }
  },

  "ovirt": {
    "type": "ovirt",
    "version": "<SERVER VERSION>",
    "fqdn": "SERVER FQDN/IP",
    "api_url": "<SERVER FQDN/IP>/ovirt-engine/api",
    "username": "USERNAME",
    "password": "PASSWORD"
  },
  "openstack": {
    "type": "openstack",
    "version": "SERVER VERSION",
    "fqdn": "SERVER FQDN/IP",
    "api_url": "<SERVER FQDN/IP>:<PORT>/v3",
    "username": "USERNAME",
    "password": "PASSWORD",
    "user_domain_name": "<DOMAIN>",
    "region_name": "<REGION>",
    "project_name": "<PROJECT>",
    "user_domain_id": "<USER DOMAIN ID>",
    "project_domain_id": "PROJECT DOMAIN ID",
    "guest_vm_linux_user": "LINUX VMS USERNAME",
    "guest_vm_linux_password": "LINUX VMS PASSWORD"
  },
  "openshift": {
    "type": "openshift",
    "version": "<SERVER VERSION>",
    "fqdn": "",
    "api_url": "",
    "username": "",
    "password": ""
  },
  "ova": {
    "type": "ova",
    "version": "<SERVER VERSION>", # Can be anything, just placeholder
    "fqdn": "",
    "api_url": "<NFS SHARE URL>",
    "username": "<USERNAME>",
    "password": ""
  }
}
